body, html {
    height: 100%;
}

.parallax { 
    /* Image used */
    background-image: url('img/webheader.jpg');

    /* Full height */
    min-height: 700px;

    /* Create the parallax scrolling effect. */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
    @media only screen and (max-device-width: 400px) {
        .parallax {
            background-attachment: scroll;
        }
    }
}

main {
    height: 2000px;
    background-color: rgb(233, 42, 42);
    font-size: 36px;
}