body, html {
    height: 100%;
}

.parallax-image { 
    /* Image used */
    background-image: url('../img/webheader.jpg');

    /* Full height */
    height: 55%;

    /* Create the parallax scrolling effect. */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
    @media only screen and (max-device-width: 1024px) {
        .parallax {
            background-attachment: scroll;
        }
    }

}

.parallax-text {
    color: black;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 0;
}

header {
    margin: 0% 1% 1% 1%;
    padding-top: 1%;
}

.title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 6.0rem;
    margin-bottom: 0.8%;
    line-height: 100%;
    letter-spacing: 0.05rem;
}

.subtitle {
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
    font-size: 3.0rem;
    margin-bottom: 0.25%;
    line-height: 99%;
    letter-spacing: 0.015rem;
}

main {
    height: 2000px;
    background-color: white;
    z-index: 1;
    position: relative;
}

.body-info {
    font-size: 3.0rem;
    margin: 1% 1% 1% 1%;
}

a {
    color: black;
    background-color: rgb(210, 210, 210);
    padding: 10px 10px 10px 10px;
    text-align: center;
    font-size: 1.75rem;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    text-decoration: none;
    font-weight: 600;
}

.row {
    width: 100%;
}

a:hover {
    color: black;
    background-color: rgb(175, 175, 175);
}

